@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  
    <h1 class="display-4">Empréstimos online!</h1>
    <p>Abra um livro, e deixe se levar. um novo mundo vc vai encontrar!!! </p>
    <div>
        <img src="/css/book.png" />
    </div>

</div>
