@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h1 class="display-4">Empréstimos De Materiais</h1>
    <p>Aqui voçe pode Adquirir seu Material Facilmente !!!</p>
    <div>
        <img src="~/img/logo-1.png" />
    </div>

</div>